[data-md-color-scheme="slate"] {
	--md-hue: 250; /* [0, 360] */
	--md-default-fg-color--light: #BBBBBB;
}

:root {
	--grid-thin-color: rgba(100, 100, 100, .1);
	--grid-thick-color: rgba(100, 100, 100, .18);
}