blockquote footer {
  padding: .5em 0 .5em 4em;
  text-align: left;
  font-size: 0.8em;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0em;
  vertical-align: -0.5em;
}

blockquote div {
  margin: -1em 0 0 0.5em;
}

.md-main {
	background-image:
			repeating-linear-gradient(-10deg,
				transparent, transparent 9px,
				var(--grid-thin-color) 9px, var(--grid-thin-color) 10px,
				transparent 10px, transparent 19px,
				var(--grid-thin-color) 19px, var(--grid-thin-color) 20px,
				transparent 20px, transparent 29px,
				var(--grid-thin-color) 29px, var(--grid-thin-color) 30px,
				transparent 30px, transparent 39px,
				var(--grid-thin-color) 39px, var(--grid-thin-color) 40px,
				transparent 40px, transparent 49px,
				var(--grid-thick-color) 49px, var(--grid-thick-color) 50px
			),
			repeating-linear-gradient(80deg,
				transparent, transparent 9px,
				var(--grid-thin-color) 9px, var(--grid-thin-color) 10px,
				transparent 10px, transparent 19px,
				var(--grid-thin-color) 19px, var(--grid-thin-color) 20px,
				transparent 20px, transparent 29px,
				var(--grid-thin-color) 29px, var(--grid-thin-color) 30px,
				transparent 30px, transparent 39px,
				var(--grid-thin-color) 39px, var(--grid-thin-color) 40px,
				transparent 40px, transparent 49px,
				var(--grid-thick-color) 49px, var(--grid-thick-color) 50px
			);
}

/* .md-footer {
  position: absolute;
  bottom: -60px;
  width: 100%;
} */

.md-sidebar.md-sidebar--secondary {
  display: none;
}

.md-content {
  max-width: 100%;
}

/* .md-nav__title {
  display: none;
} */

/* .md-nav__list {
  font-size: 14px;
} */

/* .md-footer-nav {
  display: none;
} */

.md-footer__inner.md-grid {
  display: none;
}